<form [formGroup]="radioElement" (ngSubmit)="onSubmit()">
  <label>
    Type:
    <input type="text" disabled [value]="radioElement.get('type').value" />
  </label>
  <label>
    Label:
    <input type="text" formControlName="label" />
  </label>
  <label>
    Name:
    <input type="text" formControlName="name" />
  </label>
  <label>
    Required:
    <input type="checkbox" formControlName="required" />
  </label>
  <label>
    Radios Group:
    <textarea formControlName="radiosGroup" placeholder="separate with comma"></textarea>
  </label>
  <button type="submit" [disabled]="radioElement.invalid">submit</button>
</form>
