<p>Choose field:</p>
<label>
  Add:
  <select (change)="showFieldConfig($event)">
    <option *ngFor="let inputType of inputTypes" [value]="inputType">{{ inputType }}</option>
  </select>
</label>
<ng-container [ngSwitch]="selectedInputType">
  <ng-container *ngSwitchCase="'text'">
    <app-text-input></app-text-input>
  </ng-container>
  <ng-container *ngSwitchCase="'select'">
    <app-select-input></app-select-input>
  </ng-container>
  <ng-container *ngSwitchCase="'checkbox'">
    <app-checkbox-input></app-checkbox-input>
  </ng-container>
  <ng-container *ngSwitchCase="'radio'">
    <app-radio-input></app-radio-input>
  </ng-container>
  <!-- other types here -->
</ng-container>
